.container {
    margin-top: 20px;
}

.box {
    margin: 20px 0px;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #b3b3b3;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(79, 79, 79, 0.8);
    -moz-box-shadow: 0px 0px 5px 0px rgba(79, 79, 79, 0.8);
    box-shadow: 0px 0px 5px 0px rgba(79, 79, 79, 0.8);

}

.img {
    border-radius: 5%;
}

.detailimg {
    margin-top: 20px;
}

h5 {
    margin-top: 20px;
}