<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <h1>Ankeny City Parks</h1>
    <div id="parklist">
        <% for(var i=0; i<rows.length; i++) { %>
        <h3><a href='/details?parkid=<%=rows[i].parkid%>'>
                <%= rows[i].parkname %>
            </a></h3>
        <a href='/details?parkid=<%=rows[i].parkid%>'><img src='/images/<%= rows[i].parkimage%>' /></a><% } %>
    </div>

</body>

</html>